.btn {
  background-color: var(--first-color);
  padding: 28px 55px;
  border-radius: calc((1em + (28px * 2)) / 2);
  outline: none;
  border: none;
  color: var(--white-color);
  font-weight: var(--weight-semi-bold);
  font-family: var(--body-font);
  cursor: pointer;
  transition: 0.1s;

  &.light {
    background-color: rgba(255, 221, 203, 1);
    color: rgba(189, 112, 72, 1);
  }

  @media screen and (max-width: 370px) {
    padding: 28px 10px;
    width: 100%;
    min-width: 230px;
  }

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.99);
  }
}
