.group-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;

  .text {
    font-weight: var(--weight-medium);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    display: block;
  }

  .line {
    flex: 1;
    height: 1px;
    background-color: var(--gray-color);
  }
}
